<form class="my-8">
  <div class="flex space-x-4 my-4">
    <button
      type="submit"
      class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-25"
    >
      Save
    </button>

    <button
      type="button"
      class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      Cancel
    </button>
  </div>
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
      >Name</label
    >
    <input
      type="text"
      name="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>
  <div class="mb-6">
    <label for="imagePath" class="block mb-2 text-sm font-medium text-gray-900"
      >Image URL</label
    >
    <input
      type="text"
      name="imagePath"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>
  <div class="mb-6">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Description</label
    >
    <textarea
      id="description"
      rows="6"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Write your description here..."
    ></textarea>
  </div>

  <div class="flex space-x-4 mb-6">
    <input
      class="w-1/2 mr-2 p-2 border rounded"
      type="text"
      placeholder="Ingredient Name"
    />
    <input
      class="w-1/4 mr-2 p-2 border rounded"
      type="number"
      placeholder="Ingredient Amount"
    />
    <button
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    >
   X
    </button>
  </div>
</form>
