<div class="border border-gray-200 rounded-lg shadow">
  <!-- <a href="#">
    <img
      class="rounded-t-lg c"
      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505"
      alt=""
    />
  </a> -->
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        Recipe Name
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700">
      Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolor,
      ullam ipsam quod cupiditate sequi? Repellat, molestiae esse! Voluptatem,
      amet?
    </p>
    <p class="mb-3 font-normal text-gray-700">
     Ingredients
    </p>
       <!-- Dropdown -->
       <button
       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
       type="button"
     >
       Manage Recipe
       
     </button>
     <!-- Dropdown menu -->
     <div
       id="dropdown"
       class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
     >
       <ul class="py-2 text-sm text-gray-700">
         <li>
           <a href="#" class="block px-4 py-2 hover:bg-gray-100">To Shopping List</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 hover:bg-gray-100">Edit Recipe</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 hover:bg-gray-100">Delete Recipe</a>
         </li>
       </ul>
     </div>
  </div>
</div>
