<div class="mt-20 border border-gray-200 w-fit rounded-lg shadow">
    <img
      class="rounded-t-lg max-w-[250px]"
      [src]="chosenRecipe.imagePath"
      alt={{chosenRecipe.name}}

    />
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{ chosenRecipe.name}}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700">
      {{ chosenRecipe.description }}
    </p>
    <p class="mb-3 font-normal text-gray-700">
     Ingredients
    </p>
       <!-- Dropdown -->
       <button
       appDropdown
       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
       type="button"
     >
       Manage Recipe
       <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
       xmlns="http://www.w3.org/2000/svg">
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
     </svg>
       
     </button>
     <!-- Dropdown menu -->
     <div
       id="dropdown"
       class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
     >
       <ul class="py-2 text-sm text-gray-700">
         <li>
           <a href="#" class="block px-4 py-2 hover:bg-gray-100">To Shopping List</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 hover:bg-gray-100">Edit Recipe</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 hover:bg-gray-100">Delete Recipe</a>
         </li>
       </ul>
     </div>
  </div>
</div>
