<div>
  <h1 class="text-2xl font-bold my-4">Shopping List</h1>
  <app-shopping-edit></app-shopping-edit>
  <hr class="h-px my-8 bg-gray-200 border-0 w-1/2" />
  <ul class="list-disc list-inside space-y-1 text-gray-500">
    <a class="cursor-pointer" *ngFor="let ingredient of ingredients let i = index" (click)="onEditItem(i)">
      <div class="flex justify-between p-4 my-2 w-1/2 bg-white border border-gray-200 rounded-lg shadow">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </div>
    </a>
  </ul>
</div>
